@charset "UTF-8";

img {
  width: 100%;
  height: auto;
}

body {
  font-family: eb-garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
}

.v_space {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

/* ///////////////////////////////////////////////////////// */
/* NAVIGATION */

#header {
  height: 0;
}

#navbar h1 {
  display: none;
}

#navbar img {
  padding: 20px;
  padding-left: 1rem;
  width: 150px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav {
  display: flex;
  align-items: center;
  margin: 0;
}

#nav a {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 600;
  font-family: questa-sans, sans-serif;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: white;
  transition: all .10s ease;
}

#nav a:hover {
  color: rgba(37, 55, 103, 1);
  border-bottom: 2px solid rgba(37, 55, 103, 1);
  transform: translateY(-2px);
}

#nav li:not(:last-child) {
  padding-right: 2rem;
}

/* ///////////////////////////////////////////////////////// */
/* HERO */

#hero {
  background: rgba(37, 55, 103, .25);
  background-image: url('../img/hero_1671.jpg');
  background-blend-mode: overlay;
  background-size: cover;
  padding-top: 20rem;
}

#hero_left {
  flex-direction: column;
  justify-content: center;
}

#hero_copy {
  margin-bottom: 8rem;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

#hero button {
width: 225px;
}

#hero img,
#footer img {
  max-width: 150px;
}

.appstores {
  text-align: center;
}

.appstores img {
  padding: .5rem;
}

/* ///////////////////////////////////////////////////////// */
/* HOW IT WORKS */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 250px;
  padding: 3rem;
  background: white;
  border-radius: .5rem;
  margin: 0 1rem;
  margin-bottom: 3rem;
  max-width: 400px;
}

.card img {
  max-width: 250px;
}

#how_it_works .container {
  padding: 0 3rem;
}

#how_it_works .container .row {
  display: flex;
  justify-content: center;
}

#how_it_works .card {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-top: 2.5rem;
}

#how_it_works p {
  font-size: 2rem;
}

/* ///////////////////////////////////////////////////////// */
/* INSPO #1 */

#our_brands {
  background: rgba(37, 55, 103, .15);
  background-image: url('../img/andrew-neel-369701-unsplash.jpg');
  background-blend-mode: overlay;
  background-size: cover;
  color: white;
  justify-content: center;
  font-style: italic;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

/* ///////////////////////////////////////////////////////// */
/* FEATURES */

#featurethis {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#fadiman {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.iphone video {
  width: 250px;
  height: auto;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

/* ///////////////////////////////////////////////////////// */
/* INSPO #2 */

#crap {
  background: rgba(37, 55, 103, .15);
  background-image: url('../img/alexander-andrews-290794-unsplash.jpg');
  background-blend-mode: overlay;
  background-size: cover;
  background-position: top;
  color: white;
  justify-content: center;
  font-style: italic;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

/* ///////////////////////////////////////////////////////// */
/* TESTIMONIALS */

#testimonials .container .row {
 display: flex;
 justify-content: center;
}

#testimonials .card {
  min-width: 300px;
}

#testimonials .card img {
  max-width: 180px;
}

#testimonials .card:nth-of-type(1) img {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

#testimonials .card:nth-of-type(2) img {
  border-radius: 63% 37% 51% 49% / 48% 71% 29% 52%;
}

#testimonials .card:nth-of-type(3) img {
  border-radius: 32% 68% 69% 31% / 28% 49% 51% 72%;
}

.testimonial blockquote {
  border: none;
  background: none;
  margin-top: 1rem;
}

/* ///////////////////////////////////////////////////////// */
/* CTA */

#sign_up_cta {
  flex-direction: column;
  justify-content: center;
  background: lightblue;
  text-align: center;
}

/* ///////////////////////////////////////////////////////// */
/* FOOTER */

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 3rem;
}

#footer ul li:not(:first-child) {
  padding-left: 3rem;
}

#footer a {
  color: black;
  cursor: pointer;
}

#footer a:hover {
  color: rgba(37, 55, 103, 1);
}

#footer .appstores {
  margin-bottom: 4rem;
}

/* ///////////////////////////////////////////////////////// */
/* TYPOGRAPHICS */

body {
  color: #363c41;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
}

#hero_copy h2,
#sign_up_cta h2 {
  font-size: 5rem;
  line-height: 1;
  margin-bottom: 2rem;
}

#hero_copy p {
  font-size: 2.5rem;
  font-style: italic;
  margin-bottom: 2rem;
}

#featurethis p {
  font-size: 25px;
  margin-top: 2rem;
}

#how_it_works h3,
#testimonials h3,
#features h3 {
  display: inline-block;
  border-bottom: 3px solid #253767;
  margin-top: -3rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 300;
}

h4 {
  font-family: gill-sans-nova, sans-serif;
  text-transform: uppercase;
  letter-spacing: .5px;
  padding: 2rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  font-weight: 700;
}

.testimonial h5,
.testimonial h6 {
  font-family: gill-sans-nova, sans-serif;
}

.testimonial h5 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.testimonial h6 {
  font-size: 1.4 rem;
  color: rgba(0, 0, 0, .5);
}

#how_it_works,
#testimonials,
#features {
  text-align: center;
}

/* ///////////////////////////////////////////////////////// */
/* FORM */

form {
  display: flex;
}

input {
  width: 100%;
  margin-right: 1rem;
  font-size: 2rem;
  border-radius: .25rem;
  border: none;
  padding-left: 1rem;
}

button {
  border-radius: .25rem;
  width: 200px;
  height: 4rem;
  border: none;
  background: rgba(37, 55, 103, 1);
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 600;
  font-family: questa-sans, sans-serif;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: rgb(71, 95, 135);
}

button i {
  padding-right: .5rem;
}

/* ///////////////////////////////////////////////////////// */
/* MEDIA QUERIES */

@media (min-width:601px) and (max-width: 1000px) {
  body {
    /* background: red; */
  }
}

@media (max-width: 600px) {
  body {
    /* background: green; */
  }
  #featurethis {
    margin-bottom: 3rem;
  }
  #how_it_works .card {
    margin: 2rem 0;
  }
}

@media (max-width: 400px) {
  #nav {
    padding-left: 3rem;
    text-align: center;
  }
  #nav li:not(:last-child) {
    padding-right: 0;
  }
  #testimonials .card {
    margin: 0;
  }
  #our_brands h3,
  #crap h3 {
    padding: 0 1.5rem;
  }
}